@model IEnumerable<BranchesWithPaginition.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArabicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArabicDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArabicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArabicDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
